    <div id="navigation">
        <div class="dropdown pull-left">
          <a data-target="#" href="{{baseurl}}/projects.html" data-toggle="dropdown">
            <div class="main-link first pull-left">
              <img id="projects" class="svg" src="{{baseurl}}/images/projects.svg" /><div class="link-text pull-right">项目</div>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{baseurl}}/udk/udk2015/">UDK2015</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/edk2">EDK II</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{baseurl}}/projects.html">项目</a></li>
          </ul>
        </div>
        <div class="dropdown pull-left">
          <a  data-target="#" href="{{baseurl}}/about.html" data-toggle="dropdown">
            <div class="main-link first pull-left">
              <img id="projects" class="svg" src="{{baseurl}}/images/information.svg" /><div class="link-text pull-right">社区信息</div>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{baseurl}}/about.html">关于社区</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/uefi">UEFI</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/news/">社区新闻</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/security/">安全建议</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/admins.html">联系社区管理人员</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/legalese.html">Legalese</a></li>
            <!--
            <li class="divider"></li>
            <li><a tabindex="-1" href="{{wiki}}/Community-Information">更多...</a></li>
            -->
          </ul>
        </div>
        <div class="dropdown pull-left">
          <a  data-target="#" href="{{baseurl}}/contrib" data-toggle="dropdown">
            <div class="main-link first pull-left">
              <img id="projects" class="svg" src="{{baseurl}}/images/support.svg" /><div class="link-text pull-right">支持社区</div>
            </div>
          </a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="{{baseurl}}/contrib/">如何贡献</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/contrib/getting-started.html">着手第一步</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/training/">培训</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/docs/">文档</a></li>
            <li><a tabindex="-1" href="{{wiki}}/Reporting-Issues">问题报告</a></li>
            <li><a tabindex="-1" href="{{baseurl}}/docs/member-faq.html">常见问答</a></li>
          </ul>
        </div>
    </div>
